{% load webdesign %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="/site_media/style.css" />
        <title>{% block title %}RuTest{% endblock %}</title>
    </head>
    <body>
        <div id="container">
            <div id="header"><h1>{% block header %}RuTest{% endblock %}</h1></div>
            <div id="wrapper">
                <div id="content">
                    {% block content %}
                    <p>{% lorem %}</p>
                    {% endblock %}
                </div>
            </div>
            <div id="sidebar">
                {% block sidebar %}
                <ul>
                    <li><a href="/">Главная страница</a></li>

                    {% if authorised %}
                    {% if is_tester %}
                    <li><a href="/testers/{{ pk }}">Личная страница</a></li>
                    {% else %}
                    <li><a href="/companies/{{ pk }}">Личная страница</a></li>
                    {% endif %}
                    {% endif %}

                    {% if user.is_authenticated %}
		    <li>Приветствуем, {{ user.username }}</li>
                    <li>
                    <a href="/logout">Выйти</a>
                    </li>
                    {% else %}
                    <li>
                    <a href="/login">Войти</a>
                    </li>
                    {% endif %}
                    </li>

                    <li><a href="/projects">Проекты</a></li>
                    <li><a href="/testers">Тестировщики</a></li>
                    <li><a href="/companies">Компании</a></li>
                </ul>
                {% endblock %}
            </div>
            <div id="footer">
                {% block footer %}
                Design by Xiccen Miah
                {% endblock %}
            </div>
        </div>
    </body>
</html>
